<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>

  <script type="module" crossorigin src="/static/main-CYHZJNMn.js"></script>
  <link rel="stylesheet" crossorigin href="/static/main-DaaNSwsK.css">
</head>
<body>
    <div th:each="flight : ${flight}">
        <h1 th:text="'Flight ' + ${flight.flight.iata}"></h1>
    </div>
<table>
    <thead>
        <tr>
            <th>Flight Date</th>
            <th>Status</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="flight : ${flight}">
            <td th:text="${flight.flight_date}"></td>
            <td th:text="${flight.flight_status}"></td>
            <td th:text="${flight.departure.airport}"></td>
            <td th:text="${flight.arrival.airport}"></td>
            <td th:text="${flight.departure.scheduled}"></td>
            <td th:text="${flight.arrival.scheduled}"></td>
            <td id="departure_icao" th:text="${flight.departure.icao}"></td>
            <td id="arrival_icao" th:text="${flight.arrival.icao}"></td>
        </tr>
    </tbody>
</table>
Depature Airport Data : <b id ="dep_air_data"></b>
Arrival Airport Data: <b id="arr_air_data"></b> 
<div id="map-container"></div>


</body>
</html>